
.btnContainer button {
    font-size: larger;
    margin-top: 1.5rem;
}
P {
    font-size: 1.2rem;
    color: rgb(212, 212, 212);
    text-align: justify;
    font-weight: 400;
}
b {
    color: white;
}

