.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center !important;
}

.left-side {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 8rem;
  align-items: center !important;
  margin-left: 0rem;
}
.left-side span {
  margin-right: 1rem;
}
.right-side {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center !important;
  padding-right: 8rem;
  margin-right: 0rem;
}
.right-side .item {
  margin-right: 1rem;
}
.social-networks {
  height: 20px;
  margin-right: 1rem;
}
.social-networks ul {
  display: flex;
  list-style: none;
  align-items: center !important;
  height: 20px;
  margin: 0%;
  padding: 0%;
}
.social-networks li {
  margin-right: 1rem;
  margin-left: 1rem;
}
.social-networks li button {
 width: 100%;
}
.email:link {
  text-decoration: none;
  color: white
}
.email:hover {
  color: #00ffe4;
}